/* ::::: http://361img.361sport.com.cn/shop/css/css.css ::::: */

Body { margin: 0px; font-size: 12px; font-family: "宋体"; min-width: 1200px; }
html { text-overflow: ellipsis; }
input, select { font-family: "Microsoft yahei"; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
Form, input, dt, dl, dd, Ul, Li, H2, Img, textarea, em, ol { margin: 0px; padding: 0px; border: 0px none; list-style-type: none; font-style: normal; }
select { border: 1px solid rgb(179, 179, 179); }
A { text-decoration: none; color: rgb(0, 0, 0); }
A:hover { text-decoration: underline; }
.f_l { float: left; }
.f_r { float: right; }
.pointer { cursor: pointer; }
.font14 { font-size: 14px; }
.yahei { font-family: "Microsoft Yahei",sans-serif; }
.mauto { margin: auto; }
.clear { clear: both; }
.toplogin { height: 40px; background-color: rgb(47, 51, 54); }
.toplogin .logincont { width: 1180px; margin: 0px auto; text-align: right; color: rgb(255, 255, 255); line-height: 40px; }
.toplogin a { color: rgb(255, 255, 255); }
.toplogin .in { display: block; color: rgb(255, 255, 255); float: right; width: 75px; text-align: center; }
span.signIn .in { background: url('icon_qd.png') no-repeat scroll left center transparent; padding: 14px 0px 14px 16px; width: auto; }
.toplogin .in:hover { background-color: rgb(59, 89, 151); }
.toplogin .english { display: block; color: rgb(255, 255, 255); font-size: 14px; line-height: 40px; float: right; width: 86px; height: 40px; text-align: center; }
.toplogin .area { display: block; color: rgb(255, 255, 255); font-size: 14px; line-height: 40px; float: right; background: url('area.jpg') no-repeat scroll center center transparent; height: 12px; width: 20px; margin-top: 13px; }
.toplogin .in:hover { background-color: rgb(59, 89, 151); }
.toplogin .english:hover { background-color: rgb(59, 89, 151); }
.newheader361 { position: fixed; width: 100%; z-index: 200; }
.newheaderno { height: 110px; width: 100%; }
.top_nav { border: 1px solid rgb(219, 219, 219); width: 100%; background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 70px; position: relative; }
.top_nav .navcon { width: 1180px; margin: auto; }
.top_nav .logo { display: inline-block; float: left; background: url('logo.jpg') no-repeat scroll left center transparent; width: 200px; height: 70px; }
.top_nav .newshop_menu { width: 630px; float: left; }
.top_nav .newshop_menu ul li { display: inline-block; width: 108px; float: left; border-right: 1px solid rgb(230, 230, 229); color: rgb(0, 0, 0); height: 45px; padding-top: 25px; }
.top_nav .newshop_menu .dd { display: block; text-align: center; text-decoration: none; height: 25px; }
.top_nav .newshop_menu ul li a { color: rgb(0, 0, 0); font-family: "Microsoft Yahei",sans-serif; font-weight: bold; font-size: 14px; display: inline-block; position: relative; }
.top_nav .newshop_menu .mainlevel .menusub { top: 70px; border-top: 1px solid rgb(232, 232, 231); position: absolute; display: none; left: 0px; width: 100%; padding-top: 30px; background: none repeat scroll 0% 0% rgb(252, 252, 251); font-size: 14px; color: rgb(74, 74, 74); z-index: 1000; line-height: 22px; padding-bottom: 45px; font-family: "Microsoft Yahei",sans-serif; }
.top_nav .newshop_menu .mainlevel .menusub a { color: rgb(74, 74, 74); }
.top_nav .newshop_menu .mainlevel .smenucon { width: 1200px; margin: auto; }
.top_nav .newshop_menu .mainlevel .smenulist { display: inline-block; }
.top_nav .newshop_menu .mainlevel .smenulist dl { padding-left: 12px; width: 140px; float: left; }
.top_nav .newshop_menu .mainlevel .smenulist dl dt { font-size: 16px; margin-bottom: 8px; font-weight: bold; }
.top_nav .newshop_menu .mainlevel .smenulist dl dd a { font-weight: normal; font-size: 14px; line-height: 30px; background: none repeat scroll 0% 0% transparent; }
.xiaodutuij { float: left; border-left: 1px dashed rgb(188, 188, 188); padding-left: 40px; }
.xiaodutuij .title { color: rgb(250, 156, 24); margin-bottom: 8px; }
.xiaodutuij .title2 { font-size: 14px; font-weight: normal; margin-bottom: 8px; }
.xiaodutuij a { font-size: 0px; }
.top_nav .serch { float: right; margin-top: 15px; width: 267px; }
.top_nav .serch .input { height: 20px; color: rgb(153, 153, 153); padding: 0px 5px; border: 1px solid rgb(154, 164, 173); width: 150px; float: left; border-radius: 5px; }
.top_nav .serch .submit { background: url('newhome_03.jpg') no-repeat scroll center center transparent; font-size: 0px; height: 26px; width: 16px; border: 0px none; float: left; margin-left: 5px; }
.top_nav .topcart { background: url('newhome_05.jpg') no-repeat scroll left bottom transparent; padding-left: 20px; display: inline-block; height: 20px; float: right; line-height: 20px; color: rgb(158, 167, 176); cursor: pointer; }
.top_nav .topcart span { color: rgb(249, 147, 2); }
.top_nav .serch .search-hots-keywords { margin-top: 2px; color: rgb(91, 91, 91); }
.top_nav .serch .search-hots-keywords a { color: rgb(91, 91, 91); margin-left: 5px; display: inline-block; word-wrap: break-word; word-break: break-all; }
.more_link { width: 1000px; margin: auto; padding-left: 200px; }
.more_link a { margin: 0px 10px; display: inline-block; padding: 0px 30px; height: 50px; float: left; }
.trademark { height: 237px; max-width: 1920px; background: url('trademarkbg.png') repeat scroll 0% 0% transparent; margin: auto; }
.trademark-content { width: 1180px; margin: 0px auto; height: 237px; }
.promis { background: none repeat scroll 0% 0% rgb(217, 217, 217); }
.promis-content { width: 1178px; margin: 0px auto; overflow: hidden; height: 85px; padding-top: 64px; padding-bottom: 50px; }
.promise-con { width: 1180px; margin: 0px auto 0px -1px; overflow: hidden; height: 85px; }
.promise-con ul li { float: left; border-right: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(235, 235, 235); width: 293px; height: 85px; }
.promise-left, .promise-right { float: left; }
.promise-bot { width: 302px; overflow: hidden; background: url('promise-libg.png') no-repeat scroll center center transparent; margin: 0px auto; height: 7px; }
.promise-left { padding: 20px 17px 25px 30px; }
.promise-right { font-size: 12px; width: 91px; height: 24px; color: rgb(99, 99, 99); padding-top: 24px; }
.communite-content { width: 1180px; margin: 0px auto; height: 241px; }
.newfoot_cl { float: left; width: 915px; }
.newfoot_cl dl { float: left; width: 160px; padding-left: 20px; }
.newfoot_cl dl dt { font-size: 18px; height: 25px; line-height: 25px; font-weight: bold; margin-bottom: 10px; color: rgb(0, 0, 0); font-family: "Microsoft Yahei",sans-serif; }
.newfoot_cl dl dd { height: 20px; line-height: 20px; background: url('index_225.jpg') no-repeat scroll left center transparent; padding-left: 8px; color: rgb(102, 102, 102); }
.newfoot_cl dl dd a { color: rgb(102, 102, 102); }
.newfoot_cr { float: left; width: 240px; }
.newfoot_cr dl dt { font-family: "Microsoft Yahei",sans-serif; font-size: 18px; height: 25px; line-height: 25px; font-weight: bold; margin-bottom: 12px; }
.newfoot_cr dl dd { float: left; margin-bottom: 10px; }
.phone-left, .phone-right { float: left; }
.phone-right .p1 { display: block; font-size: 24px; font-family: Arial,Helvetica,sans-serif; color: rgb(58, 58, 58); }
.phone-right .p2 { display: block; font-size: 12px; color: rgb(60, 60, 60); }
.phone-right { margin-left: 8px; }
.fourtime { border: 1px dashed rgb(60, 60, 60); border-radius: 5px; width: 148px; height: 30px; line-height: 30px; text-align: center; margin-top: 4px; font-size: 12px; color: rgb(60, 60, 60); }
.Certificate { height: 45px; background: url('certificatebg.png') repeat scroll 0% 0% transparent; text-align: center; line-height: 45px; font-size: 14px; color: rgb(77, 77, 77); font-family: Arial,Helvetica,sans-serif; }
.newfloat { width: 48px; height: 568px; z-index: 9999; position: absolute; top: 800px; right: 0px; }
.float-gouwuche { color: rgb(255, 255, 255); width: 48px; height: 120px; background: none repeat scroll 0% 0% rgb(0, 0, 0); border-top: 1px solid rgb(128, 128, 128); }
.float-gouwuche a { width: 48px; height: 120px; display: block; text-decoration: none; }
.float-gouwuche a:hover { background-color: rgb(249, 147, 2); }
.gouwuche-tip { width: 48px; height: 30px; background: url('gouwuche.png') no-repeat scroll center 8px transparent; }
.gouwuche-font { height: 54px; color: rgb(255, 255, 255); text-align: center; }
.float-download .gouwuche-num { background: url('gouwuche-num.png') no-repeat scroll center center transparent; height: 27px; width: 48px; text-align: center; line-height: 27px; color: rgb(255, 255, 255); }
.float-kefu { color: rgb(255, 255, 255); width: 48px; height: 85px; background: none repeat scroll 0% 0% rgb(0, 0, 0); border-top: 1px solid rgb(128, 128, 128); }
.float-kefu a { width: 48px; height: 85px; display: block; text-decoration: none; }
.float-kefu a:hover { background-color: rgb(249, 147, 2); }
.kefu-tip { width: 48px; height: 40px; background: url('kefu-tip.png') no-repeat scroll center center transparent; }
.float-saoma { color: rgb(255, 255, 255); width: 48px; height: 80px; background: none repeat scroll 0% 0% rgb(0, 0, 0); border-top: 1px solid rgb(128, 128, 128); }
.float-saoma a { width: 48px; height: 80px; display: block; text-decoration: none; }
.float-saoma a:hover { background-color: rgb(249, 147, 2); }
.saoma-tip { width: 48px; height: 40px; background: url('saoma-tip.png') no-repeat scroll center center transparent; }
.float-shoucang { color: rgb(255, 255, 255); width: 48px; height: 80px; background: none repeat scroll 0% 0% rgb(0, 0, 0); border-top: 1px solid rgb(128, 128, 128); }
.float-shoucang a { width: 48px; height: 80px; display: block; text-decoration: none; }
.float-shoucang a:hover { background-color: rgb(249, 147, 2); }
.shoucang-tip { width: 48px; height: 40px; background: url('shoucang.png') no-repeat scroll center center transparent; }
.float-saoma-erweima { z-index: 9999; position: absolute; left: -180px; border: 5px solid rgb(0, 0, 0); top: 350px; }
.float-down { display: block; width: 48px; height: 32px; }
.float-down2 { display: block; width: 48px; height: 32px; background: url('float-down.png') no-repeat scroll 0% 0% transparent; }
/* ::::: http://361img.361sport.com.cn/shop/css/order.css ::::: */

p { padding: 0px; margin: 0px; }
select { font-family: "Microsoft yahei!"; }
.ordercon { width: 1000px; margin: auto; }
.order_l_right { margin-top: 49px; padding-top: 51px; color: rgb(177, 173, 175); width: 691px; text-align: right; }
.order_l_r2 { background: url('order1_zt2.jpg') no-repeat scroll left top transparent; }
.order_list { border-left: 1px solid rgb(229, 229, 229); width: 100%; }
.order_list tr td { padding: 10px 0px; }
.order_list .title { color: rgb(102, 102, 102); }
.border-right { border-right: 1px solid rgb(229, 229, 229); }
.order_buyinfo { background-color: rgb(246, 246, 246); padding: 16px; border-bottom: 1px solid rgb(230, 230, 230); border-top: medium none; height: 180px; margin-bottom: 48px; }
.obi_right { width: 303px; text-align: center; color: rgb(51, 51, 51); line-height: 22px; }
.obi_right .price { color: rgb(188, 24, 31); font-size: 18px; font-family: Verdana,Geneva,sans-serif; font-weight: bold; }
.backcart { height: 50px; text-align: right; }
.backcart a { display: inline-block; background-color: rgb(69, 69, 69); width: 113px; height: 26px; color: rgb(255, 255, 255); text-align: center; line-height: 26px; margin-top: 13px; }
.order2_listdh { background: url('order1_20.jpg') no-repeat scroll 0% 0% transparent; height: 32px; color: rgb(131, 131, 131); font-weight: bold; padding-left: 27px; line-height: 32px; }
.order2_tb1 { width: 972px; padding-bottom: 13px; }
.order2_tb1 .title { font-size: 14px; font-weight: bold; height: 32px; line-height: 32px; padding-top: 12px; color: rgb(51, 51, 51); padding-left: 12px; }
.order2_tb1 tr { background: none repeat scroll 0% 0% rgb(245, 245, 245); border-bottom: 1px solid rgb(255, 255, 255); }
table.tb2 td { border-bottom: 1px solid rgb(255, 255, 255); padding: 0px; }
table#paymethod td { padding-left: 5px; padding-right: 5px; }
table#sontable { padding: 5px 0px; }
table#sontable td { border-bottom: medium none; padding: 10px 0px; }
table.tb2 td.padding10 { padding: 10px 0px; }
.order2_tb1 a { color: rgb(1, 98, 189); }
.order2_tb1 .tb2 { text-align: center; }
.order2_tb2 { margin-top: 15px; }
.order2_tb2 .obi_right { width: 230px; }
.tjcart { color: rgb(169, 169, 169); }
.tjcart input { background: url('tjcart.png') no-repeat scroll 0% 0% transparent; width: 154px; height: 44px; font-size: 0px; }
.order_fapiao { line-height: 22px; }
.order_fapiao span { color: rgb(169, 169, 169); }
.order_fapiao .input { border: 1px solid rgb(222, 223, 222); width: 88px; height: 20px; color: rgb(119, 119, 119); cursor: pointer; }
div.sontable1 { float: left; padding-left: 30px; }
div.sontable2 { float: left; text-align: left; padding-left: 15px; }
div.sontable2 p { line-height: 25px; }
#order2 th { text-align: right; width: 120px; }
#order2 td { text-align: left; width: 120px; }
#order2 tr { background: none repeat scroll 0% 0% transparent; }
.privilege { margin-left: 5px; }
.input-code { width: 120px; padding: 1px 5px; border: 1px solid rgb(170, 170, 170); font-family: Micorsoft yahei; margin-left: 10px; }
.privilege-select { width: 150px; height: 24px; line-height: 24px; padding: 0px 30px 0px 8px; border: 1px solid rgb(169, 201, 226); background: url('select-down.png') no-repeat scroll right center rgb(232, 245, 254); color: rgb(128, 122, 98); cursor: pointer; display: inline-block; }
ul#privilege-list { width: 188px; background: none repeat scroll 0% 0% rgb(232, 245, 254); margin-top: 2px; border: 1px solid rgb(169, 201, 226); position: absolute; top: 25px; left: 105px; display: none; }
ul#privilege-list li { height: 24px; line-height: 24px; text-indent: 10px; }
ul#privilege-list li a { display: block; height: 24px; color: rgb(128, 122, 98); text-decoration: none; }
ul#privilege-list li a:hover { background: none repeat scroll 0% 0% rgb(198, 219, 252); color: rgb(51, 102, 153); }
/* ::::: http://361img.361sport.com.cn/shop/js/artDialog/skins/default.css ::::: */

body { font-family: "Microsoft Yahei"; }
.aui_outer { text-align: left; }
table.aui_border, table.aui_dialog { border: 0px none; margin: 0px; border-collapse: collapse; width: auto; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_c, .aui_e, .aui_sw, .aui_s, .aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer { padding: 0px; }
.aui_header, .aui_buttons button { font: 12px/1.11 'Microsoft Yahei',Tahoma,Arial,Helvetica,STHeiti; }
.aui_title { overflow: hidden; text-overflow: ellipsis; }
.aui_close { display: block; position: absolute; text-decoration: none; outline: medium none; }
.aui_close:hover { text-decoration: none; }
.aui_main { text-align: left; min-width: 9em; }
.aui_content { display: inline-block; text-align: left; border: 0px none; }
.aui_icon { vertical-align: middle; }
.aui_icon div { width: 41px; height: 41px; margin: 10px 0px 10px 10px; background-position: center center; background-repeat: no-repeat; }
.aui_buttons { padding: 8px; text-align: right; white-space: nowrap; }
.aui_buttons button::-moz-focus-inner { border: 0px none; padding: 0px; margin: 0px; }
.aui_inner { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.aui_outer, .aui_inner { border: 1px solid rgba(0, 0, 0, 0.7); }
.aui_border { box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.9) inset; }
.aui_nw, .aui_ne, .aui_sw, .aui_se { width: 8px; height: 8px; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4); }
.aui_state_drag .aui_outer, .aui_outer:active { box-shadow: none; }
.aui_titleBar { position: relative; height: 100%; }
.aui_title { height: 28px; line-height: 27px; padding: 0px 28px 0px 10px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7); font-weight: bold; color: rgb(149, 167, 174); background: none repeat scroll 0% 0% rgb(228, 228, 228); border-bottom: 1px solid rgb(182, 190, 197); }
.aui_close { padding: 0px; top: 4px; right: 4px; width: 21px; height: 21px; line-height: 21px; font-size: 18px; color: rgb(104, 118, 123); text-align: center; font-family: Helvetica,STHeiti; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9); }
.aui_close:hover { color: rgb(199, 32, 21); }
.aui_close:active { box-shadow: none; }
.aui_content { color: rgb(102, 102, 102); }
.aui_buttons { background-color: rgb(246, 246, 246); border-top: 1px solid rgb(218, 222, 229); }
.autumn .iframetab { width: 100%; height: 100%; position: fixed; background: none repeat scroll 0% 0% rgb(0, 0, 0); z-index: 1000; opacity: 0.5; top: 0px; left: 0px; }
.autumn .iframeinfo2 { width: 300px; background: none repeat scroll 0% 0% rgb(255, 255, 255); z-index: 1001; height: 200px; left: 50%; top: 50%; margin-left: -150px; margin-top: -100px; position: fixed; }
.autumn .iframebody { background: none repeat scroll 0% 0% rgb(245, 245, 245); position: relative; padding-left: 0px; }
#zntxdhan .zhm1_tit { font-size: 18px; padding: 32px 0px 16px; }
#zntxdhan .zntxinput { border: 1px solid rgb(154, 164, 173); border-radius: 5px; padding: 5px; width: 205px; }
#zntxdhan .zhm_submit { background: none repeat scroll 0% 0% rgb(251, 147, 6); border-radius: 5px; color: rgb(255, 255, 255); width: 215px; margin-top: 16px; height: 36px; line-height: 36px; }
.autumn .iframeclose { position: absolute; top: 0px; right: 0px; background: none repeat scroll 0% 0% rgb(243, 152, 0); width: 34px; height: 34px; color: rgb(255, 255, 255); font-weight: bolder; font-size: 34px; line-height: 34px; text-align: center; }
.autumn a.iframeclose:hover { text-decoration: none; }
