.u_dhtop{
	border-top:1px solid #e5e5e5;
	background-color:#fcfcfc;
}
.u_dh b{
	color:#000;
}
.u_dh{
	width:1170px;
	padding-top:45px;
	color:#999999;
	height:20px;
	margin:auto;
}
.u_dh a{
	color:#999999;
}
.u_dh a:hover{
	text-decoration:underline;
}
.userbac{
	background-color:#fcfcfc;
}
.pcon{
	margin:auto;
	width:1200px;
	padding-bottom:200px;
}
.u_left{
	width:245px;
	float:left;
}
.u_left .pl_top{
	background:url(../cssimg/product_15.png) no-repeat;
	width:245px;
	height:10px;
}
.u_left .pl_c{
	background:url(../cssimg/product_22.png);
	padding-left:8px;
	padding-right:8px;
}
.u_left .pl_c .plnum{
	font-size:16px;
	padding-left:27px;
	padding-top:12px;
	padding-bottom:12px;
	font-family:"Microsoft Yahei",sans-serif;
}
.u_left .pl_c .userinfo{
	color:#999999;
	padding:25px 0px 16px 15px;
}
.u_left .pl_c .userinfo .username{
	color:#f99302;
	font-size:18px;
}
.u_left .pl_c .userinfo .useredit{
	display:block;
	color:#191919;
	font-size:14px;
	padding-top:12px;
}
.u_left .pl_c .userinfo2{
	padding-top:24px;
	padding-bottom:34px;
	background:#feffe7;
	text-align:center;
}
.u_left .pl_c .userinfo2 a{
	width:70px;
	display:inline-block;
}
.u_left .pl_c .userinfo2 a span{
	color:#808080;
	font-size:28px;
	font-weight:bold;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
}
.u_left .pl_bottom{
	background:url(../cssimg/product_107.jpg) no-repeat;
	width:245px;
	height:12px;
}
.u_left .pl_bottom2{
	background:url(../cssimg/product_1072.jpg) no-repeat;
	width:245px;
	height:12px;
}

.u_left .pl_c .pclass_title{
	height:44px;
	line-height:44px;
	padding-left:23px;
	background:url(../cssimg/product_73.jpg) repeat-x;
	border-top:1px solid #e0e0e0;
	color:#191919;
	font-size:14px;
	cursor:pointer;
}
.u_left .pl_c .pclass_title a{
	color:#191919;
}
.u_left .pl_c .pclass_title span{
	height:9px;
	width:9px;
	float:right;
	margin:17px 17px 0px 0px;
}
.u_left .pl_c .close span{
	background:url(../cssimg/product_76.jpg);
}
.u_left .pl_c .open span{
	background:url(../cssimg/product_78.jpg);
}
.u_left .pl_c .pclass{
	background:#e8e8e8;
	display:none;
	border-top:1px solid #cacaca;
}
.u_left .pl_c .pclass ul{
	background:url(../cssimg/product_83.jpg) repeat-x top;
	padding:6px 0px 22px 45px;
}
.u_left .pl_c .pclass ul li{
	color:#403f3f;
	height:28px;
	line-height:28px;
}
.u_left .pl_c .pclass ul li a{
	color:#403f3f;
}
.u_left .pl_c .pclass ul li a:hover{
	text-decoration:underline;
}
.u_right{
	width:925px;
	float:left;
	padding-top:6px;
	padding-left:30px;
}
.u_right2{
	width:937px;
	padding-left:18px;
}
.u_right .title{
	font-size:14px;
	font-weight:bold;
	color:#000;
	color:#333333;
	padding-bottom:14px;
}
.u_right .color1,.u_right .color1 a{
	#f99302
}
.saveinput{
	background:url(../cssimg/save.png) no-repeat;
	width:104px;
	height:43px;
	font-size:0px;
}
.submitinput{
	background:url(../cssimg/submit.png) no-repeat;
	width:104px;
	height:43px;
	font-size:0px;
}
.quxiaoinput{
	background:url(../cssimg/quxiao.png) no-repeat;
	width:101px;
	height:39px;
	font-size:0px;
}
.delallinput{
	background:url(../cssimg/delall.png) no-repeat;
	width:113px;
	height:33px;
	font-size:0px;
}
/*新浪QQ登录*/
.ynLogin{
	height:47px;
	font-family:"Microsoft Yahei",sans-serif;
	font-size:16px;
	border-left:1px solid #e0e0e0;
}
.ynLogin li{
	height:46px;
	line-height:46px;
	width:155px;
	float:left;
	text-align:center;
	border-top:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
	background:#fff;
	cursor:pointer;
}
.ynLogin li.on{
	border-top:2px solid #f09800;
}
.qqsina_input{
	padding-left:161px;
	padding-bottom:15px;
}
.qqsina_input .submitinput{
	height:38px;
	background:#f09900;
	color:#fff;
	font-size:14px;
	font-family:"Microsoft Yahei",sans-serif;
}
.qqsina_input .skipinput{
	display:inline-block;
	height:38px;
	margin-left:10px;
	font-family:"Microsoft Yahei",sans-serif;
	width:104px;
	line-height:38px;
	background:#bfbfbf;
	text-align:center;
	font-size:14px;
	color:#fff;
	text-decoration:none;
}
/*会员资料修改*/
.u_edit{
	padding-left:150px;
	padding-top:30px;
	color:#777777;
}
.u_edit .tomail{
	padding-left:112px;
	padding-top:5px;
}
.u_edit .formlist dl dd.ue_name{
	font-size:22px;
	font-family:"Microsoft Yahei",sans-serif;
	color:#000000;
	font-weight:bold;
}
.u_edit .sina{
	background:url(../cssimg/useredit_03.jpg) no-repeat left top;
	height:55px;
	padding-left:54px;
	color:#000000;
}
.u_edit .sina a{
	background:url(../cssimg/useredit_05.jpg) no-repeat left top;
	width:101px;
	height:31px;
	display:inline-block;
}
.u_edit .saveinput{
	margin-left:110px;
	margin-top:10px;
}
.u_edit .submitinput{
	margin-left:110px;
	margin-top:10px;
}
delallinput
.u_edit .formlist dl dd.recode a{
	color:#1e459d;
}
.formlist dl dd.recode a.codenum{
	display:inline-block;
	width:132px;
	text-align:center;
	color:#f99302;
	line-height:31px;
	height:31px;
	margin-left:9px;
	background:url(../cssimg/recode.jpg) no-repeat;
}
.u_edit .formlist dl dd .grade{
	padding-top:2px;
}
.u_edit .formlist dl dd .grade ul li{
	float:left;
	width:56px;
	height:20px;
	line-height:20px;
	text-align:center;
	margin-right:2px;
}
.u_edit .formlist dl dd .grade ul li.grade_1{
	background-color:#f0efef;
}
.u_edit .formlist dl dd .grade ul li.grade_2{
	background-color:#ecebeb;
}
.u_edit .formlist dl dd .grade ul li.grade_3{
	background-color:#d6d6d6;
}
.u_edit .formlist dl dd .grade ul li.check{
	background-color:#fccbcb;
}
/*会员登录*/
.login_content{
	width:1019px;
	margin-top:47px;
	padding-bottom:180px;
}
.login_top{
	background:url(../cssimg/login_03.jpg) no-repeat;
	height:20px;
}
.login_c{
	background:url(../cssimg/login_05.jpg);
	padding-top:50px;
	height:473px;
	color:#333;
}
.login_c .title{
	padding-top:89px;
	font-size:14px;
	height:40px;
	color:#333333;
	font-weight:bold;
	margin-left:104px;
}
.login_c .submit{
	width:151px;
	height:41px;
	font-size:0px;
}
.login_cleft{
	width:510px;
}
.login_cleft .submit{
	margin-left:160px;
	background:url(../cssimg/login_31.png) no-repeat;
	margin-top:30px;
}
.login_c .formlist dl dd{
	width:230px;
}
.login_cleft .formlist{
	padding-left:50px;
	margin-bottom:28px;
}
.login_c .formlist dl dd input{
	width:228px;
}
.login_cleft .title{
	background:url(../cssimg/login_11.jpg) no-repeat;
}
.login_cleft a.forgotpwd{
	display:inline-block;
	margin-left:175px;
	color:#bf262d;
	margin-top:14px;
}
.login_c .remember{
	color:#666;
	padding-left:160px;
}
.login_cright{
	width:490px;
}
.login_cright .type{
	padding-left:95px;
	padding-bottom:10px;
}
.login_cright .type span{
	font-size:14px;
}
.login_cright .formlist{
	padding-left:54px;
}
.login_cright .submit{
	margin-left:160px;
	background:url(../cssimg/login_28.png) no-repeat;
	margin-top:10px;
	margin-bottom:10px;
}
.login_cright .title{
	background:url(../cssimg/login_13.jpg) no-repeat;
}
.login_cbo{
	border-left:1px solid #d8d8d8;
	width:2px;
	margin-top:73px;
	height:325px;
}
.login_bottom{
	background:url(../cssimg/login_35.jpg) no-repeat;
	height:16px;
}
/*修改手机号码*/
.etel_top{
	width:670px;
	background:url(../cssimg/edittel_06.png) no-repeat;
	padding-left:50px;
	font-size:14px;
	line-height:22px;
	margin-top:48px;
}
.etel_top .redinput{
	float:right;
}
.etelc{
	margin-left:153px;
	width:595px;
}
.etelc .etelbo{
	border:1px solid #e6e6e6;
	background:#fff;
	height:186px;
}
.etelc .etelbo .formlist dl dt{
	font-size:12px;
}
.etelc .etelbo .formlist dl dd{
	width:300px;
}
.etelc .etelbo .formlist dl dd.recode a{
	color:#f99302;
}
.etelc .etelbo .formlist dl dd.recode a.codenum{
	color:#0967bf;
	margin-left:22px;
}
.etelc .etelbo .formlist{
	padding-top:23px;
	margin-left:70px;
}
.etelc .etelfoot{
	background:url(../cssimg/edittel_15.jpg);
	height:3px;
}
.etelc .submitinput{
	margin-left:180px;
	margin-top:10px;
}
/*积分*/
.jifen_hq{
	color:#0162bd;
}
.jifen_bo{
	border:1px solid #e6e6e6;
	padding:15px 30px;
	color:#7d7d7d;
	line-height:22px;
	margin-top:6px;
}
.jifen_bo .duih{
	font-weight:bold;
	background:url(../cssimg/gth.png) no-repeat left;
	height:17px;
	line-height:17px;
	padding-left:22px;
	margin-bottom:10px;
}
.jifen_dh{
	background:url(../cssimg/jifen_11.jpg) no-repeat bottom;
	width:936px;
	padding-bottom:8px;
	height:30px;
	margin-top:39px;
	margin-bottom:26px;
}
.jifen_dh ul li{
	width:120px;
	height:30px;
	line-height:30px;
	background:url(../cssimg/jifen_09.jpg) no-repeat bottom;
	text-align:center;
	float:left;
	color:#000;
	cursor:pointer;
}
.jifen_dh ul li.check{
	background:url(../cssimg/jifen_07.jpg) no-repeat bottom;
}
.jifenlm{
	width:936px;
}
.topbac{
	background:url(../cssimg/jifen_14.jpg) no-repeat;
	text-align:center;
	font-weight:bold;
}
.jifenlist{
	text-align:center;
	border:1px solid #e5e5e5;
	border-top:0px;
	color:#000;
}
.jifenlistbottom{
	background:url(../cssimg/jifen_17.jpg) repeat-x bottom;
	height:4px;
}
.jifenlist tr{
	background:url(../cssimg/dian.jpg) repeat-x bottom;
}
.jifenlist .color1{
	font-size:14px;
	color:#666;
	font-weight:bold;
}
.jifenlm .color2{
	color:#333333;
}
.jifenlm .color3{
	color:#999999;
}
.jifenlm .color4{
	color:#777;
}
/*收货地址*/
.address_a{
	color:#f99302;
	font-weight:bold;
}
.addressf{
	padding-left:159px;
}
.addressf dl dt{
	padding-right:8px;
}
.address_a2{
	color:#0162bd;
}
/*收藏夹*/
.fav_title{
	background:url(../cssimg/gth.png) no-repeat;
	height:17px;
	line-height:17px;
	padding-left:23px;
	margin-bottom:12px;
	color:#7d7d7d;
}
.fav_price{
	color:#666666;
	font-size:14px;
	font-weight:bold;
}
.fav_time{
	color:#999999;
}
.fav_buy{
	background: url("../cssimg/buy2.png") no-repeat;
    display: inline-block;
    height: 33px;
    width: 123px;
}
/*评论*/
.mess_color1{
	color:#666;
}
.mess_color2{
	color:#a9a9a9;
}
.mess_color3{
	color:#f99302;
}
.messc{
	margin:22px 0px 11px;
}
.messc_left{
	width:150px;
	float:left;
	color:#666666;
}
.messc_right{
	float:left;
	width:762px;
	margin-left:12px;
	position:relative;
}
.messc_right .sanjiao1{
	position:absolute;
	background:url(../cssimg/message_09.jpg) no-repeat;
	width:13px;
	height:25px;
	left:-12px;
	top:16px;
	display:inline-block;
}
.messc_right_t{
	background:url(../cssimg/message_05.jpg) no-repeat;
	width:762px;
	height:5px;
}
.messc_rc{
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	background:#f9f9f9;
	padding-left:26px;
	padding-top:18px;
	padding-right:26px;
}
.messc_right_f{
	background:url(../cssimg/message_18.jpg) no-repeat;
	width:762px;
	height:8px;
}
.messc_rc .rand{
	padding-left:81px;
	font-size:14px;
	font-weight:bold;
}
.messc_rc .info{
	color:#828282;
	padding:12px 0px 20px;
	line-height:20px;
}
.messc_rc .info2{
	border:1px solid #f0f0f0;
	position:relative;
	padding:12px;
	background-color:#ffffff;
	width:586px;
	color:#c9c9c9;
}
.messc_rc .info2 .sanjiao2{
	position:absolute;
	background:url(../cssimg/message_13.jpg) no-repeat;
	width:76px;
	height:26px;
	right:-76px;
	top:16px;
	text-align:right;
	display:inline-block;
}
.messc_rc .usertime{
	padding:18px 0px 8px;
	text-align:right;
	color:#343434;
}
/*未完成评论*/
.wwcpl{
	margin:22px 0px 11px 20px;
}
.wwcpl_left{
	width:204px;
	float:left;
	color:#666666;
}
.wwcpl_right{
	float:left;
	width:698px;
	margin-left:15px;
	position:relative;
	z-index:0;
}
.wwcpl_right .sanjiao1{
	position:absolute;
	background:url(../cssimg/wwcpl_08.jpg) no-repeat;
	width:14px;
	height:27px;
	left:-10px;
	top:16px;
	display:inline-block;
}
.wwcpl_right_t{
	background:url(../cssimg/wwcpl_03.jpg) no-repeat;
	width:762px;
	height:5px;
}
.wwcpl_rc{
	background:url(../cssimg/wwcpl_05.jpg);
	padding-left:26px;
	padding-top:18px;
	padding-right:26px;
}
.wwcpl_right_f{
	background:url(../cssimg/wwcpl_20.jpg) no-repeat;
	width:762px;
	height:8px;
}
.wwcpl_rc .rand{
	font-weight:bold;
	background-position:right;
	display:inline-block;
	margin-bottom:12px;
	padding-right:85px;
}
.wwcpl_rc .inputpl{
	font-size:14px;
	font-weight:bold;
	color:#000;
	padding-left:5px;
}
.wwcpl_rc .inputp2{
	font-size:12px;
	width:612px;
	color:#828282;
}
.wwcpl_rc .pic{
	height:48px;
}
.wwcpl_rc .pic_left{
	float:left;
}
.pic_left a{
	display:inline-block;
	width:75px;
	height:31px;
	text-align:center;
	line-height:31px;
	color:#004b91;
	background:url(../cssimg/wwcpl_16.jpg) no-repeat;
}
.wwcpl_rc .pic_right{
	float:right;
	width:190px;
}
.wwcpl_right_f2{
	margin-top:10px;
	margin-bottom:70px;
}
.wwcpl_right_f2 .fabiao{
	background:url(../cssimg/wwcpl_23.jpg) no-repeat;
	font-size:0px;
	width:141px;
	height:33px;
	float:right;
}
.wwcpl_right_f2 .bdsharebuttonbox{
	width:140px;
	float:right;
	margin-left:20px;
}
/*会员订单管理*/
.uorder_zt{
	color:#dddddd;
}
.uorder_zt a{
	color:#004b91;
}
.uorder_zt a.check{
	color:#f99302;
	font-weight:bold;
}
.uoserch{
	margin-top:16px;
	margin-bottom:30px;
}
.uoserch_left{
	background:url(../cssimg/userorder_07.jpg) no-repeat;
	float:left;
	height:65px;
	width:16px;
}
.uoserch_c{
	background:url(../cssimg/userorder_08.jpg);
	height:65px;
	width:890px;
	float:left;
}
.uoserch_c1{
	width:450px;
	height:35px;
	border-right:1px solid #d9d9d9;
	line-height:35px;
	margin-top:16px;
}
.uoserch_c1 .input{
	border:1px solid #d5d5d5;
	width:212px;
	height:20px;
	color:#a9a9a9;
}
.uoserch_c2{
	width:430px;
	text-align:center;
	font-weight:bold;
	height:35px;
	line-height:35px;
	margin-top:16px;
}
.uoserch_c .submit{
	background:url(../cssimg/userorder_03.png) no-repeat;
	width:76px;
	height:26px;
	font-size:12px;
	color:#e9e9e9;
	font-family:"Microsoft Yahei",sans-serif;
	color:#fff;
	font-size:14px;
	text-align:center;
}
.uoserch_right{
	background:url(../cssimg/userorder_11.jpg) no-repeat;
	float:left;
	height:65px;
	width:19px;
}
.uolist{
	margin-top:6px;
	margin-bottom:20px;
}
.uolist_bo{
	border:1px solid #dcdcdc;
	background:#ffffff;
}
.uolist_bo table.orderlist-all td{padding-top:10px; padding-bottom:10px;}
.uolist_left{
	border-right:1px dotted #dcdcdc;
	color:#a9a9a9;
	line-height:25px;
}
.uolist_left .time{
	font-size:18px;
	font-family:"Microsoft Yahei",sans-serif;
	color:#000;
	padding:5px 0px;
	display:inline-block;
}
.uolist_left a{
	color:#004b91
}
.uolist_right1{
	border-bottom:1px dotted #dcdcdc;
	line-height:24px;
}
.uolist_right1 span{
	font-size:18px;
}
.uolist_right1 span.color1{
	color:#f99302;
}
.uolist_right2{line-height:20px; padding-left:10px;}
.uolist_right2 img{
	float:left;
}
.uolist_right2 .yahei{
	font-size:14px;
	font-weight:bold;
}
.uolist_right2 a{
	color:#004b91;
}
.uolist_right2 .bdsharebuttonbox{
	display:inline-block;
}
.uolist_right3 ul li{
	background:url(../cssimg/userorder_22.jpg) no-repeat;
	width:125px;
	height:36px;
	text-align:center;
	line-height:30px;
	color:#666666;
}
.uolist_right3 ul li a{
	color:#666666;
}
.uolist_right3 ul li.check{
	background:url(../cssimg/userorder_19.png) no-repeat;
}
.uolist_right3 ul a.tobuy{
	background:url(../cssimg/mszf.png);
	font-size:0px;
	cursor:pointer;
	width:119px;
	height:33px;
	display:inline-block;
	margin:0px 33px;
	text-align:center;
	color:#fff;
}
.uolist_right3 ul li.check a{
	color:#fff;
}
/*卡卷管理*/
.u_coupon_num{
	color:#d5d5d5;
	font-size:14px;
	margin-bottom:30px;
}
.u_coupon_num a{
	color:#000;
}
.u_coupon_num a span{
	color:#004b91;
}
/*退换货*/
.u_rt_tlist{
	height:47px;
	background:url(../cssimg/jindu.jpg) no-repeat right bottom;
}
.u_rt_tlist ul li{
	width:155px;
	float:right;
	text-align:right;
	color:#999999;
}
.u_rt_tlist ul li.check{
	color:#f99302;
}
.returnlm .rlm{
	border:1px solid #dddddd;
}
.returnlm .rlm_1 .yahei{
	font-weight:bold;
	font-size:14px;
	background:url(../cssimg/gth.png) #f9f9f9 left center no-repeat;
	padding-left:23px;
	margin-left:34px;
	height:66px;
	line-height:66px;
}
.returnlm .rlm_1 .res{
	padding-top:30px;
	padding-left:35px;
	background:url(../cssimg/dian.jpg) repeat-x top;
	height:255px;
	line-height:30px;
}
.returnlm .rlm_1 .res a{
	color:#004b91;
	text-decoration:underline;
}
.returnlm .rlm_2 .thtitle{
	padding-bottom:28px;
}
.returnlm .rlm_2 .thtitle a{
	color:#004b91;
	text-decoration:underline;
}
.returnlm .rlm_left{
	width:254px;
	float:left;
	border-right:1px solid #dddddd;
}
.returnlm .rlm_left .top{
	background-color:#f9f9f9;
	padding:15px 0px 15px 15px;
	border-bottom:1px solid #dddddd;
	line-height:24px;
}
.returnlm .rlm_left .top span{
	display:block;
	font-size:14px;
	font-weight:bold;
}
.returnlm .rlm_left .relcon{
	min-height:200px;
}
.returnlm .rlm_left .relcon ul li{
	height:100px;
	width:236px;
	margin:auto;
}
.returnlm .rlm_left .relcon .bobottom{
	background:url(../cssimg/dian.jpg)  repeat-x bottom;
	height:2px;
	padding:0px;
}
.returnlm .rlm_left .relcon ul li .li{
	padding:12px 0px;
	display:inline-block;
	float:left;
}
.returnlm .rlm_left .relcon ul li .li1{
	width:30px;
	ebebeb
}
.returnlm .rlm_left .relcon ul li .li2{
	width:70px;
}
.returnlm .rlm_left .relcon ul li .li2 img{
	border:1px solid #ebebeb;
}
.returnlm .rlm_left .relcon ul li .li3{
	color:#a9a9a9;
	width:135px;
}
.returnlm .rlm_left .relcon ul li .li3 a{
	display:inline-block;
	padding-bottom:12px;
	color:#666666;
}
.returnlm .rlm_left .bottom{
	background-color:#f9f9f9;
	padding:15px 12px 15px 15px;
	border-top:1px solid #ddd;
	line-height:24px;
	margin-top:-1px;
}
.returnlm .rlm_left .bottom .view{
	display:inline-block;
	width:132px;
	text-align:center;
	color:#004b91;
	line-height:31px;
	height:31px;
	float:right;
	background:url(../cssimg/recode.jpg) no-repeat;
}
.returnlm .formlist{
	float:left;
	width:640px;
	min-height:300px;
	padding-top:55px;
	padding-left:40px;
}
.returnlm .formlist dl dt{
	font-size:12px;
}
.returnlm .formlist dl dd{
	color:#a9a9a9;
	width:520px;
}
.returnlm .formlist dl dd .redinput{
	color:#fff;
	width:125px;
	height:34px;
	margin-top:8px;
	background:url(../cssimg/userorder_19.png) no-repeat;
	font-family:"Microsoft Yahei",sans-serif;
}
.returnlm .formlist dl dd .returninput{
	color:#fff;
	width:146px;
	height:33px;
	margin-top:8px;
	background:url(../cssimg/tjthsq.png) no-repeat;
	font-family:"Microsoft Yahei",sans-serif;
	font-size:0px;
}
.returnlm .rlm_3 .title{
	padding-top:30px;
	width:938px;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #dddddd;
	padding-bottom:0px;
}
.returnlm .rlm_3 .cjwt{
	color:#666666;
	padding-top:10px;
	line-height:20px;
}
.returnlm .rlm_3 .cjwt a{
	color:#004b91;
}
.returnlm .rlm_4 .fwd{
	height:47px;
}
.returnlm .rlm_4 .fwd .f_l{
	font-size:14px;
}
/*服务单列表*/
.wfdlist{
	margin-left:16px;
	padding-top:30px;
	padding-bottom:30px;
}
.wfdlist dl dt{
	color:#999999;
	text-align:left;
	padding-bottom:6px;
	line-height:18px;
}
.wfdlist dl dt span{
	color:#333333;
}
.wfdlist dl dd{
	color:#999999;
	width:60px;
	height:60px;
	border:1px solid #ebebeb;
	margin-right:3px;
	margin-bottom:3px;
	float:left;
}
.wfdtab{
	text-align:center;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	background:url(../cssimg/wfd_15.jpg) repeat-y;
}
.wfdtab tr td{
	border-bottom:1px solid #e5e5e5;
}
.wfdtab td .li1{
	padding-top:68px;
	color:#666666;
}
.wfdtab td .li2{
	padding-top:68px;
	color:#a9a9a9;
}
.wfdtab .li3{
	padding-left:23px;
	text-align:left;
	padding-top:46px;
}
.wfdtab .li3 .sl{
	color:#f99302;
	text-align:center;
	padding-bottom:8px;
}
.wfdtab .li3 .yjdz{
	color:#f99302;
	width:210px;
	line-height:18px;
	padding:15px 12px;
	color:#333333;
	position:relative;
	border:1px solid #f0f0f0;
	text-align:left;
}
.wfdtab .li3 .yjdz span{
	color:#a9a9a9;
}
.wfdtab .li3 .yjdz .kefu{
	position:absolute;
	display:inline-block;
	background:url(../cssimg/wfd_09.jpg) no-repeat;
	padding-left:12px;
	width:68px;
	top:18px;
	right:-80px;
}
.wfdtab .li3 .kddh{
	color:#999999;
	padding-top:12px;
}
.wfdtab .li3 .kddh .input1{
	border:1px solid #dedfde;
	height:22px;
	width:232px;
	margin-top:3px;
	color:#999999;
}
.wfdtab .li3 .kddh .input2{
	background:url(../cssimg/reinput3.png) no-repeat center center;
	cursor:pointer;
	width:63px;
	font-size:0px;
	height:33px;
}
.wfdtab .li3 .kddh .f_l1{
	width:232px;
	margin-right:4px;
}
.wfdtab .li3 .kddh .f_l2{
	width:63px;
}

/*------add by ljp 2015/6/12 begin ---------*/
.formlist dl dd.profile_error{background:url("../cssimg/errormsg.png") no-repeat 10px center; padding-left:36px; width:240px; height:24px; line-height:24px; border:1px solid #FFD797; color:#FF5783;}
.formlist dl dd.profile_success{background:url("../cssimg/successmsg.png") no-repeat 10px center; padding-left:36px; width:240px; height:24px; line-height:24px; border:1px solid green; color:green;}
.jifenlist tr.nodian{background:url("");}
.code_timeout{padding:5px 10px; margin-left:10px; border-radius:3px; background:#999999; color:#ffffff; text-decoration:none;}
/*------add by ljp 2015/6/12 end -----------*/